name: wallet-hygiene-monitor
services:
  postgres:
    image: postgres:16-alpine
    container_name: wallet-hygiene-monitor-postgres
    environment:
      POSTGRES_USER: admin841
      POSTGRES_PASSWORD: wallet21414
      POSTGRES_DB: wallet-hygiene-monitor
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
volumes:
  pgdata:
  redis_data:
