<h2>Password reset</h2>
<p>We received a request to reset your password on <b>{{appName}}</b>.</p>
<p>If this wasn't you, you can safely ignore this email.</p>
<p>
  Reset link: <a href="{{resetUrl}}">Reset password</a>
</p>
<p>Expires at: {{expiresAt}}</p>
